// .container {
//     background-image: url('rain.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
// }


.header {

    .header__title{
        text-align: center;
    }
}

.weatherSearch {
    text-align: center;
    margin-top: -150px;

    .weatherSearch__button {
        margin-top: 170px;
    }
}

.weatherAdd {
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: center;
    border: 1px solid #3BACDD;
    border-radius: 16px;
    background-color: #3BACDD;
    width: 150px;
}
 